'twibo':
  'title': 'twibo'
  'paths': [
    'D:\\workspace2\\twibo'
  ]
'jQuery-File-Upload':
  'title': 'jQuery-File-Upload'
  'paths': [
    'C:\\Users\\Administrator\\Downloads\\jQuery-File-Upload-9.9.3'
  ]
