.list-tree li.list-nested-item[class*='status-'] > .list-item {
    color: white !important;
}

.icon-file-text {
  color: white !important;
}

.theme-one-dark-ui atom-text-editor {
  background-color:#272822;
}

.theme-one-dark-ui {
  .tool-panel { background-color: #272822; }
  .tab-bar { background-color: #434440;}
  .tab-bar .tab.active { color: white; }
  .tree-view { background-color: #272822; }
}

atom-text-editor::shadow .gutter {
    background-color: #272822;
}
